---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import { type Product } from "@libs/interfaces";
import Filter from "@components/Filter.astro";
import Layout from "@layouts/Layout.astro";

// const querystring = window.location.search
const urlBase = "https://moda-link-api.deno.dev/api/v1/products?"
const params = new URLSearchParams();
params.set("page","1");
params.set("sizePage", "50");
params.set("genero", "hombre");
console.log(urlBase+params);

const response = await fetch(urlBase+params);
const products: Product[] = await response.json();




---

<Layout title="Moda Link">
  <div class="h-full">
    <Header />
    <main class="mt-20 flex">

      <section
        class="flex flex-wrap place-content-center mx-auto gap-3 sm:gap-10 items-center"
      >
        {
          products.map((product) => (
          <Card
              description={product.descripcion}
              image={product.imagen}
              link={product.url}
              marca={product.marca}
              genero={product.genero}
              likes={product.likes}
              urlAfiliado={product.urlAfiliado}
              precio={product.precio}
              categoria={product.categoria}
              subCategoria={product.subCategoria}
            />
          ))
        }
      </section>
    </main>
    <Footer />
  </div>
</Layout>


