---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SectionIndex from "@components/SectionIndex.astro";
import TopTendencias from "@components/TopTendencias.astro";
import Nav from "@components/Nav.astro";
import index from "@locales/es/index.json";
import Faq from "@components/Faq.astro";
import Descover from "@components/Descover.astro";
import SectionPosts from "@components/SectionPosts.astro";
import SliderCategories from "@components/Categories.astro";
import Categories from "@components/Categories.astro";
---

<Layout
  title="Moda Link"
  description="En moda link, nos dedicamos a seleccionar cuidadosamente ropa de alta calidad que refleja estilo y personalidad para hombres y mujeres con buen gusto."
>
  <div class="h-full">
    <Header />
    
    <Categories sectionId="navbar-xxx" />
    <main class="flex flex-col gap-y-6">


      <SectionIndex
        title={index.women.title}
        inicio={0}
        fin={100}
        sections={false}
        sectionId="moda-femenina"
        background={true}
        genero="mujer"
        link="/mujer"
        descripcion={index.women.description}
      />

      <SectionIndex
        title={index.men.title}
        inicio={0}
        fin={100}
        sectionId="moda-masculina"
        sections={false}
        link={`/hombre`}
        genero="hombre"
        descripcion={index.men.description}
      />
      <TopTendencias
        title={index.trendFemale.title}
        sectionId="tendencias-femenina"
        link="https://www.cosmopolitan.com/es/moda/tendencias-moda/g42228427/tendencias-verano-2023/"
        trends={index.trendFemale.trendsFemale}
        descripcion={index.trendFemale.description}
      />
      <TopTendencias
        title={index.trendMale.title}
        sectionId="tendencias-masculinas"
        link="https://www.esquire.com/es/moda-hombre/a44120295/tendencias-verano-moda-hombre/"
        trends={index.trendMale.trendsMale}
        descripcion={index.trendMale.description}
      />

      <Faq />

      <Descover />

      <SectionPosts/>

      <Footer />
    </main>
  </div>
</Layout>
