---
import { Image } from "astro:assets";

const { description, image, urlAfiliado,likes } = Astro.props;
---

<div class="rounded-sm relative overflow-hidden group w-40 sm:w-52  flex flex-col justify-between ">
  <div class="relative"> 
    <a
      href={urlAfiliado}
      target="_blank"
      aria-label={"visitar: " + description}
      class="absolute bottom-0 right-0 bg-color_pink2 text-color_pink1 flex items-center px-2 gap-x-[1px] opacity-0 group-hover:opacity-100 ease-in-out duration-300"
    >
      visitar
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
        ></path>
      </svg>
    </a>
    <Image
      class="imagen  self-start"
      src={image}
      alt={description}
      width="240"
      height="320"
      format="webp"
      draggable={false}
    />
  </div>
  <!-- <span>{likes}</span> -->
  <p class="description text-gray-500 text-sm select-text ">
    {description}
  </p>
</div>

<style>
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Muestra las dos primeras líneas */
    max-width: 200px;
  }
</style>
