---
import { Image } from "astro:assets"


const { description, image, urlAfiliado } = Astro.props;
---

<div class=" rounded-sm relative  w-40 sm:w-60 overflow-hidden ">
  <div class=" ">
    <a
      href={urlAfiliado}
      target="_blank"
      aria-label={description}
      class="relative  w-full "
    >
      <Image src={image} alt={description} width="240" height="320" format="webp"  />
    </a>
    
  </div>
	<p
      class="text-gray-500 overflow-hidden sm:whitespace-nowrap max-w-full inline-block overflow-ellipsis w-60"
    >
      {description}
    </p>
</div>

