---
const { description, image, link } = Astro.props;
---

<div class=" rounded-sm relative  w-40 sm:w-60 overflow-hidden ">
  <div class=" ">
    <a
      href={link}
      target="_blank"
      aria-label={description}
      class="relative  w-full "
    >
      <img src={image} alt={description} loading="lazy" />
    </a>
    
  </div>
	<p
      class="text-gray-500 overflow-hidden sm:whitespace-nowrap max-w-full inline-block overflow-ellipsis w-60"
    >
      {description}
    </p>
</div>

<script>
  const videos = document.querySelectorAll(".product-video");

  videos.forEach((video: any) => {
    video.addEventListener("mouseenter", () => {
      video.play();
    });

    video.addEventListener("mouseleave", () => {
      video.pause();
      video.currentTime = 0; // Reiniciar el video al inicio
    });
  });
</script>

  <!-- <video loop muted class="product-video w-full">
			<source src="/video1.mp4" type="video/mp4">
			Tu navegador no admite la etiqueta de video.
		</video> -->