---
import { getLangFromUrl } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
  gender: Gender;
}

type Gender = "men" | "women";

const { gender } = Astro.props;

const background = gender === "men" ? "bg-[#FEFF99] hover:bg-[#FDFF64] text-black" : "bg-pink-500 hover:bg-pink-600 text-purple-200"

const texts = {
  men: {
  en: {
    title: "Browse through our categories",
    categoria1: {
      title: "Pants",
      description:
        "Men's Pants: Elevate your style with comfortable and stylish pants.",
        url: "/en/men/pants"
    },
    categoria2: {
      title: "Hats",
      description: "Explore a variety of fashionable hats for every occasion.",
      url: "/en/men/caps"
    },
    categoria3: {
      title: "Shirts",
      description:
        "Men's Shirts: Transform your day with stylish and personality-filled shirts.",
        url: "/en/men/t-shirt"
    },
    categoria4: {
      title: "Footwear",
      description: "Discover trendy shoes to complete your fashionable look.",
      url: "/en/men/shoes"
    },
    categoria5: {
      title: "Accessories",
      description: "Collection of elegant accessories to enhance your style.",
      url: "/en/men/accessories"
    },
  },
  es: {
    title: "Navega entre nuestras categorías",
    categoria1: {
      title: "Pantalones",
      description:
        "Pantalones de hombre: Eleva tu estilo con pantalones cómodos y elegantes.",
      url: "/hombre/pantalon"
    },
    categoria2: {
      title: "Gorros",
      description: "Explora una variedad de gorros a la moda para cada ocasión.",
      url: "/hombre/gorros"
    },
    categoria3: {
      title: "Camisetas",
      description:
        "Camisetas de hombre: Transforma tu día con camisetas elegantes y llenas de personalidad.",
        url: "/hombre/pantalon"
    },
    categoria4: {
      title: "Calzados",
      description: "Descubre zapatos a la moda para completar tu look.",
      url: "/hombre/zapatos"
    },
    categoria5: {
      title: "Accesorios",
      description: "Colección de accesorios elegantes para realzar tu estilo.",
      url: "/hombre/accesorios"
    },
  },
},
 women: {
  en: {
    title: "Browse through our categories",
    categoria1: {
      title: "T-Shirts",
      description:
        "Women's T-Shirts: Transform your day with style and personality.",
        url: "/en/women/t-shirt"
    },
    categoria2: {
      title: "Skirts and Pants",
      description: "Find fashionable skirts and pants to look spectacular.",
      url: "/en/women/pants"
    },
    categoria3: {
      title: "Accessories",
      description:
        "Collection of elegant accessories to complement your style.",
        url: "/en/women/accessories"
    },
    categoria4: {
      title: "Lingerie",
      description:
        "Discover sensual and comfortable lingerie to enhance your style.",
        url: "/en/women/t-shirt"
    },
    categoria5: {
      title: "Footwear",
      description: "The trendy shoes you're looking for to complete your look.",
      url: "/en/women/shoes"
    },
  },
  es: {
    title: "Navega entre nuestras categorias",
    categoria1: {
      title: "Camisetas",
      description:
        "Camisetas de mujer: Transforma tu día con estilo y personalidad.",
        url: "/mujer/camiseta"
    },
    categoria2: {
      title: "Faldas y Pantalones",
      description:
        "Encuentra faldas y pantalones a la moda para lucir espectacular.",
        url: "/mujer/pantalon"
    },
    categoria3: {
      title: "Accesorios",
      description:
        "Colección de accesorios elegantes para complementar tu estilo.",
        url: "/mujer/accesorios"
    },
    categoria4: {
      title: "Lenceria",
      description: "Descubre lencería sensual y cómoda para realzar tu estilo.",
      url: "/mujer/camiseta"
    },
    categoria5: {
      title: "Calzados",
      description: "Los zapatos de moda que buscas para completar tu look.",
      url: "/mujer/zapatos"
    },
  },
 },
 
};
---

<div class="max-w-7xl mx-auto mt-36 xl:mt-12 pb-20">
  <h2 class="text-2xl md:text-3xl px-5 text-center font-fugazOne py-5">
    {texts[gender][lang].title}
  </h2>

  <div class="grid gap-5 relative h-32 grid-cols-2 xl:grid-cols-3">
    <a href={texts[gender][lang].categoria1.url} class={`category ${background} `}>
      <h2 class="title">{texts[gender][lang].categoria1.title}</h2>
      <p class="parrafo">
        {texts[gender][lang].categoria1.description}
      </p>
    </a>
    <a  href={texts[gender][lang].categoria2.url} class={`category ${background} `}>
      <h2 class="title">{texts[gender][lang].categoria2.title}</h2>
      <p class="parrafo">
        {texts[gender][lang].categoria2.description}
      </p>
    </a>

    <a  href={texts[gender][lang].categoria3.url}
      class={`${background} md:px-10  w-full h-60 overflow-hidden  ease-in-out duration-300 flex justify-center items-center flex-col px-2 xl:h-full row-span-2 cursor-default`}
    >
      <h2 class="title">{texts[gender][lang].categoria3.title}</h2>
      <p class="parrafo">
        {texts[gender][lang].categoria3.description}
      </p>
    </a>
    <a  href={texts[gender][lang].categoria4.url} class={`category ${background} `}>
      <h2 class="title">{texts[gender][lang].categoria4.title}</h2>
      <p class="parrafo">
        {texts[gender][lang].categoria4.description}
      </p>
    </a>
    <a  href={texts[gender][lang].categoria5.url} class={`category ${background}  col-span-2 xl:col-span-1  -translate-y-5 xl:-translate-y-0`}>
      <h2 class="title">{texts[gender][lang].categoria5.title}</h2>
      <p class="parrafo">
        {texts[gender][lang].categoria5.description}
      </p>
    </a>
  </div>
</div>

<style>
  .category {
    @apply w-full h-60 overflow-hidden relative  ease-in-out duration-300 flex justify-center items-center flex-col px-2 md:px-10 cursor-default
  }

  .title {
    @apply font-fugazOne text-3xl text-center;
  }

  .parrafo {
    @apply text-center text-xl;
  }
</style>
