---
import Essentials from "./Essentials.astro";

const company_information = [
  {
    id: "1",
    text: "Acerca de Newchic",
    url: "https://www.newchic.com/tempages-BRAND/tid-3203.html?utmid=9841",
  },
  {
    id: "2",
    text: "Política de privacidad",
    url: "https://www.newchic.com/privacy-policy-hc172.html",
  },
  {
    id: "3",
    text: "Política de devoluciones",
    url: "https://www.newchic.com/return-and-refund-hc162.html",
  },
  {
    id: "4",
    text: "Términos y condiciones",
    url: "https://www.newchic.com/terms-and-conditions-hc174.html",
  },
  {
    id: "5",
    text: "Reclamaciones de propiedad intelectual",
    url: "https://www.newchic.com/intellectual-property-claims-hc175.html",
  },
  {
    id: "6",
    text: "Centro de ayuda",
    url: "https://www.newchic.com/impressum-hc233.html",
  },
];

const customer_service = [
  {
    id: "1",
    text: "Seguimiento de pedido",
    url: "https://www.newchic.com/account/orderlist.html",
  },
  {
    id: "2",
    text: "Preguntas frecuentes sobre envíos",
    url: "https://www.newchic.com/help_center/shipping-faq157.html",
  },
  {
    id: "3",
    text: "Preguntas frecuentes sobre pedidos",
    url: "https://www.newchic.com/help_center/order-faq167.html",
  },
  {
    id: "4",
    text: "Métodos de envío",
    url: "https://www.newchic.com/shipping-methods-hc160.html",
  },
  {
    id: "5",
    text: "Métodos de pago",
    url: "https://www.newchic.com/payment-methods-hc159.html",
  },
  {
    id: "6",
    text: "Búsquedas principales",
    url: "https://www.newchic.com/topsearch.html",
  },
];

const cooperation = [
  {
    id: "1",
    text: "Programa de blogueros",
    url: "https://www.newchic.com/blog/promotion.html",
  },
  {
    id: "2",
    text: "Afiliarse - Ganar dinero",
    url: "https://www.newchic.com/affiliateCenter.html?flagType=3",
  },
  {
    id: "3",
    text: "Programa VIP",
    url: "https://www.newchic.com/account/showVipIllustrate.html",
  },
  {
    id: "4",
    text: "Programa de envío directo",
    url: "https://www.newchic.com/dropship-program.html",
  },
  {
    id: "5",
    text: "Programa mayorista",
    url: "https://www.newchic.com/article/wholesaleShow.html",
  },
  {
    id: "6",
    text: "programa de estudiantes",
    url: "https://www.descuentoestudiante.com/newchic-descuento-estudiante-iframe",
  },
];
---

<footer class="bg-gray-50 py-4 pt-12">
  <Essentials />

  <div class="flex justify-around flex-col sm:flex-row py-10 px-5 gap-y-10 ">
    <section>
      <h3 class="text-black font-bold mb-5 uppercase">Información de la empresa</h3>
      <ul class="flex flex-col gap-y-2">
        {
          company_information.map((e) => (
            <li class="text-gray-500">
              <a href={e.url}>{e.text}</a>
            </li>
          ))
        }
      </ul>
    </section>

    <section>
      <h3 class="text-black font-bold mb-5">SERVICIO AL CLIENTE</h3>
      <ul class="flex flex-col gap-y-2">
        {
          customer_service.map((e) => (
            <li class="text-gray-500">
              <a href={e.url}>{e.text}</a>
            </li>
          ))
        }
      </ul>
    </section>

    <section>
      <h3 class="text-black font-bold mb-5">COOPERACIÓN</h3>
      <ul class="flex flex-col gap-y-2">
        {
          cooperation.map((e) => (
            <li class="text-gray-500">
              <a href={e.url}>{e.text}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</footer>
