---
import CardTendencia from "./CardTendencia.astro";

const { 
  title, 
  sectionId, 
  background, 
  descripcion, 
  link,
  trends
} = Astro.props;


---

<div class={` flex flex-col gap-y-3 py-8`}>
  <h2 class="2xl:text-center text-xl md:text-3xl font-fugazOne px-5">
    {title}
    {
      link && <a
      href={link}
      target="_blank"
      aria-label={"visitar: " + title}
      class="text-color_pink1 inline-block translate-y-1"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
        ></path>
      </svg>
    </a>
    }
    
  </h2>

  <p class="px-5 text-sm sm:text-lg text-gray-600 2xl:text-center ">
    {descripcion}
  </p>
 
  <astro-greet class={`${background && ""}`} data-message={sectionId}>
    <section id={sectionId} class="grid-container scroll-js px-5">
      {trends.map((trend:any)=>(
       <CardTendencia 
          description={trend.description ?? ""}
          title={trend.title}
          image={trend.image}
       />
      ))}
     
    </section>
  </astro-greet>
</div>

<script>
  import Conveyer from "@egjs/conveyer";

  class AstroGreet extends HTMLElement {
    constructor() {
      super();

      const sectionId = this.dataset.message;
      const formatId = `#${sectionId}`;
      new Conveyer(formatId);
    }
  }

  customElements.define("astro-greet", AstroGreet);
</script>

<style>
  .grid-container {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-template-rows: auto ;
    gap: 20px;
  }
  .grid-container::-webkit-scrollbar {
    width: 0;
  }


</style>
