---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import '@fontsource/pacifico';
import '@fontsource/fugaz-one';
import '@fontsource-variable/tilt-prism';
import '@fontsource/rubik-mono-one';
import '@fontsource/roboto-condensed';
import { getLangFromUrl } from '../i18n/utils';

interface Props {
  title: string;
  icono?: string;
  description: string;
  extend?: {
    link: [{ rel: string; href: string }];
    meta?: [{ name: string; content: string }];
  };
  openGraph?: {
    basic: {
      title: string;
      type: string;
      image: string;
      url: string;
    };
    optional?: {
      audio?: string;
      description?: string;
      determiner?: string;
      locale?: string;
      localeAlternate?: Array<string>;
      siteName?: string;
      video?: string;
    };
  };
}

const { title, description, extend, openGraph, icono } = Astro.props;

const lang = getLangFromUrl(Astro.url);
console.log(lang);

---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gender.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="modalink.click">

    <!-- añadir esto para cada pagina, esto indica que la url principal de la sección -->
    <!-- <link rel="canonical" href="https://www.topitop.pe/mujer"> -->
    <meta name="google-site-verification" content="PzTQUXOImzyDfBUlu3hE0aFHlZQ72X_FMeOr5E5KAXg" />
    <!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->
    <SEO
      title={title}
      description={description}
      openGraph={openGraph}
      extend={extend}
    />
    <ViewTransitions />
  </head>
  <body class="bg-white selection:bg-orange-100">
    <slot />
    
  </body>
</html>
