---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  icono?: string;
  description: string;
  extend?: {
    link: [{ rel: string; href: string }];
    meta?: [{ name: string; content: string }];
  };
  openGraph?: {
    basic: {
      title: string;
      type: string;
      image: string;
      url: string;
    };
    optional?: {
      audio?: string;
      description?: string;
      determiner?: string;
      locale?: string;
      localeAlternate?: Array<string>;
      siteName?: string;
      video?: string;
    };
  };
}

const { title, description, extend, openGraph, icono } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gender.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-WD7HX62D47"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-WD7HX62D47");
    </script>

    <SEO
      title={title}
      description={description}
      openGraph={openGraph}
      extend={extend}
    />
    <ViewTransitions />
  </head>
  <body class="bg-white selection:bg-orange-100">
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
